RewriteEngine On
RewriteCond %{HTTP_HOST} ^midominio.com
RewriteRule (.*) http://www.joyeriasafn.com/$1 [R=301,L]
 # o también
 RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
 # o también
 RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]