/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #E7E7E9; }

@font-face {
  font-family: 'Vevey';
  src: url("../fonts/Vevey.woff2") format("woff2"), url("../fonts/Vevey.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.container {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto; }
  .container .row + .row {
    margin-top: 20px; }

.row {
  margin-left: -12px;
  margin-right: -12px;
  margin-top: -15px;
  width: 100%;
  overflow: hidden; }
  @media screen and (max-width: 480px) {
    .row {
      margin: 0; } }

.col {
  padding: 0 12px;
  box-sizing: border-box;
  float: left; }
  @media screen and (max-width: 480px) {
    .col {
      padding: 0 5px; } }

.col-md-2 {
  width: 20%;
  margin-top: 15px; }
  @media screen and (max-width: 480px) {
    .col-md-2 {
      width: 50%; } }
  @media screen and (max-width: 320px) {
    .col-md-2 {
      width: 100%; } }

.col-md-3 {
  width: 25%;
  margin-top: 15px; }
  @media screen and (max-width: 480px) {
    .col-md-3 {
      width: 50%; } }

.col-md-4 {
  width: 33.33%;
  margin-top: 15px; }
  @media screen and (max-width: 480px) {
    .col-md-4 {
      width: 50%; } }

.homeProducts__img {
  width: 100%;
  display: block; }
.homeProducts__text {
  text-align: center;
  margin-top: 5px;
  font-family: "Work Sans", sans-serif; }
.homeProducts__title {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  margin-top: 10px;
  font-weight: 500; }
.homeProducts__card {
  transition: all .5s;
  padding-bottom: 20px; }
  .homeProducts__card:hover {
    transform: scale(1.02); }
  @media screen and (max-width: 480px) {
    .homeProducts__card {
      min-height: 200px; } }

.logo {
  background: #F1F2F2;
  padding: 15px 20px;
  display: table;
  margin: 0 auto 20px auto; }
  .logo__title {
    font-family: "Vevey";
    font-size: 44px; }
  .logo__src {
    max-width: 60px;
    width: 100%; }

.card {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.03); }

.title__two {
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  padding: 0 12px;
  font-weight: 600; }

/*# sourceMappingURL=all.css.map */
