.container{
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
}



.row{
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -15px;
}
.col{
    padding: 0 12px;
    box-sizing: border-box;
    float: left;
}

.col-md-2{
    width: 20%;
    margin-top: 15px;

    @media screen and (max-width: 480px){
        width: 50%;
    }
}

.col-md-3{
    width: 25%;
    margin-top: 15px;

    @media screen and (max-width: 480px){
        width: 50%;
    }
}

.col-md-4{
    width: 33.33%;
    margin-top: 15px;

    @media screen and (max-width: 480px){
        width: 50%;
    }
}


