.logo{
    // background: $color_two;
    padding: 15px 0;
    // display: table;
    // margin: 0 auto 20px auto;
    @media screen and (max-width: $tablet){
        padding: 0;
    }

    &__title{
        font-family: $font_two;
        text-align: center;
        font-size: 44px;
    }
    &__src{
        max-width: 60px;
        width: 100%;
    }
}