@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap');

$color_one: #181817;
$color_two: #F1F2F2;
$color_three: #f4f8fa;


$color_four: #E7E7E9;

$font_one: 'Work Sans', sans-serif;

$padding: 12px;

$font_two: 'Vevey';


$tablet: 768px;